/*.iml
/.idea/
/src/test/resources/unpack/*_unpacked.so
/target/
*.DS_Store
**/dev/log
/src/test/resources/example_binaries/stdout
/src/test/resources/example_binaries/stderr
/src/test/native/android/obj/
