<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
            http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>external:*</mirrorOf>
            <url>http://p.gzmtx.cn:8081/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
					          <releases>
						          <enabled>true</enabled>
                      <updatePolicy>always</updatePolicy>
					          </releases>
					          <snapshots>
						          <enabled>true</enabled>
                      <updatePolicy>always</updatePolicy>
					          </snapshots>
	            </repository>
	        </repositories>
	        <pluginRepositories>
	            <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
					          <releases>
						          <enabled>true</enabled>
					          </releases>
					          <snapshots>
						          <enabled>true</enabled>
                      <updatePolicy>never</updatePolicy>
					          </snapshots>
	            </pluginRepository>
	        </pluginRepositories>
        </profile>
	</profiles>
    <activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>
